<div class="dialog-header">
    <div class="h6 col-black"> Add User </div>
    <mat-icon (click)="close()">close</mat-icon>
</div>
<div class="dialog-content p-10 flex flex-col">
    <p class="text-title-sm col-black mb-2">Member Information</p>
    <div [formGroup]="userInfoForm">
        <mat-form-field appearance="outline" color="accent" class="w-full mb-1">
            <mat-label>Name</mat-label>
            <input matInput placeholder="John Doe" formControlName="name" required>
            <mat-error *ngIf="userInfoForm.controls['name'].invalid">{{'This field is required'}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" class="w-full mb-1">
            <mat-label>Email</mat-label>
            <input matInput placeholder="test@invicto.ca" formControlName="email" required>
            <mat-error *ngIf="userInfoForm.controls['email'].invalid">{{emailInValidMessage}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" class="w-full mb-1">
            <mat-label>Mobile Number</mat-label>
            <input matInput formControlName="phone" mask="(000) 000-0000" prefix="+1 " [showMaskTyped]="true"
                placeHolderCharacter="#" required>
            <mat-error *ngIf="userInfoForm.controls['phone'].invalid">{{'Phone number is required'}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" class="w-full mb-1">
            <mat-label>Organization</mat-label>
            <mat-select formControlName="company" [compareWith]="objectCompareWith">
                <ng-container *ngFor="let company of companyList">
                    <mat-option [value]="company">{{company.name}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" class="w-full mb-1">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
                <mat-option value="Guest">Guest</mat-option>
                <mat-option value="Member">Member</mat-option>
                <mat-option value="Tier-admin">Tier-admin</mat-option>
                <mat-option value="Admin">Admin</mat-option>
            </mat-select>
        </mat-form-field>
        <p class="text-caption -mt-3 mb-6">* Mandatory field</p>
        <div class="sso flex items-center h-14 rounded pl-4" style="background-color: #E2F2FF;">
            <mat-checkbox formControlName="sso" value="" color="primary">Allow SSO</mat-checkbox>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button class="btn secondary-btn w-20 ml-auto mr-4" (click)="close()">Cancel</button>
    <button class="btn primary-btn w-24" (click)="next()" [disabled]="userInfoForm.invalid">Next Step</button>
</div>
