<div class="dialog-header">
    <div class="h6 col-black"> Invite User </div>
    <mat-icon mat-dialog-close>close</mat-icon>
</div>
<div class="dialog-content p-10 flex flex-col">
    <p class="text-title-sm col-black mb-2">User Information</p>
    <div [formGroup]="userInfoForm">
        <mat-form-field appearance="outline" color="accent" class="w-full mb-1">
            <mat-label>Name</mat-label>
            <input matInput placeholder="John Doe" formControlName="name" required>
            <mat-error *ngIf="userInfoForm.controls['name'].invalid">{{'This field is required'}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" class="w-full mb-1">
            <mat-label>Email</mat-label>
            <input matInput placeholder="test@invicto.ca" formControlName="email" required>
            <mat-error *ngIf="userInfoForm.controls['email'].invalid">{{emailInValidMessage}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" class="w-full mb-1">
            <mat-label>Select a role</mat-label>
            <mat-select formControlName="role">
                <mat-option value="Guess">Guess</mat-option>
                <mat-option value="Member">Member</mat-option>
                <mat-option value="Tier-admin">Tier-admin</mat-option>
                <mat-option value="Admin">Admin</mat-option>
            </mat-select>
        </mat-form-field>
        <p class="text-caption -mt-3 mb-6">* Mandatory field</p>
    </div>
</div>
<div class="dialog-footer">
    <button class="btn secondary-btn w-20 ml-auto mr-4" mat-dialog-close>Cancel</button>
    <button class="btn primary-btn w-24" (click)="sendInvite()" [disabled]="userInfoForm.invalid">Send Invite</button>
</div>
