:host {
    height: 100vh;
    background-color: #F7F9FA;
    @apply flex items-center justify-center;
}

.security-wrap {
    height: 768px;
    width: 904px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

@media (max-height: 899.98px) {
    .security-wrap {
        height: 650px;
    }
}

.left-section {
    width: 552px;
    border-radius: 8px 0 0 8px;
    padding: 60px 94px 0 63px;
}

.right-section {
    width: 352px;
    border-radius: 0 8px 8px 0;
    background-color: #1440AB;
}

.invicto {
    height: 29px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.18px;
    line-height: 29px;
}
