<div class="dialog-header">
    <div class="h6 col-black"> Add Schedule </div>
    <mat-icon mat-dialog-close>close</mat-icon>
</div>
<div class="dialog-content p-10 flex flex-col">
    <div [formGroup]="scheduleForm">
        <p class="text-title-sm col-black mb-2">Information</p>
        <div class="flex-center-between">
            <mat-form-field appearance="outline" color="accent" class="w-full mb-1 mr-2">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name" required>
                <mat-error *ngIf="scheduleForm.controls['name'].invalid">{{'This field is required'}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent" class="w-full mb-1 ml-2">
                <mat-label>Description</mat-label>
                <input matInput placeholder="description" formControlName="description">
                <!-- <mat-select formControlName="description" name="description">
                    <mat-option value="Optional">Optional</mat-option>
                    <mat-option value="Optional">Optional</mat-option>
                </mat-select> -->
            </mat-form-field>
        </div>
    </div>
    <div class="weekdays">
        <div class="list-header flex pb-4 border-b border-black border-opacity-10">
            <p class="w-20 text-title-sm">Week Days</p>
            <p class="w-11 text-title-sm mr-2">Status</p>
            <p class="text-title-sm flex"> Schedule
                <span class="material-icons text-sm cursor-pointer -mt-1 ml-2" matTooltip="SHIFT + SCROLL ♻" matTooltipPosition="right"> help_outline </span>
            </p>
        </div>

        <div class="list-contents flex flex-col">
            <div class="item flex items-center h-12 border-b border-black border-opacity-10"
                 *ngFor="let weekday of weekdays; index as idx">
                <p class="w-20 text-body-sm day">{{weekday.day}}</p>
                <mat-slide-toggle [(ngModel)]="weekday.status" name="status" class="w-11 mr-2 status"></mat-slide-toggle>
                <div class="overflow-x-auto flex items-center time-wrap cursor-pointer">
                    <ng-container *ngFor="let schedule of weekday.schedules; index as slot">
                        <div class="schedule-item col-black" [class.disable]="!weekday.status" (click)="editTimeSlot(idx, slot, schedule, 'weekday')">
                            {{schedule.from}} to {{schedule.to}}
                        </div>
                    </ng-container>
                </div>
                <div class="ml-auto">
                    <span class="material-icons icon-40 cursor-pointer col-blue" (click)="addTimeSlot(idx, 'weekday')"
                          [class.pointer-events-none]="!weekday.status" [class.opacity-38]="!weekday.status">
                        add
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="holidays mt-8">
        <div class="list-header flex pb-4 border-b border-black border-opacity-10">
            <p class="w-32 text-title-sm">Holidays</p>
            <p class="w-11 text-title-sm mr-2"></p>
            <p class="text-title-sm flex"> Schedule
                <span class="material-icons text-sm cursor-pointer -mt-1 ml-2" matTooltip="SHIFT + SCROLL ♻" matTooltipPosition="right"> help_outline </span>
            </p>
        </div>
        <div class="list-contents flex flex-col" *ngFor="let holiday of holidays; index as idx">
            <div class="item flex items-center h-12 border-b border-black border-opacity-10">
                <p class="w-32 text-body-sm day">{{holiday.holiday}}</p>
                <mat-slide-toggle [(ngModel)]="holiday.status" name="status" class="w-11 mr-2 status"></mat-slide-toggle>
                <div class="overflow-x-auto flex items-center time-wrap cursor-pointer">
                    <ng-container *ngFor="let schedule of holiday.schedules; index as slot">
                        <div class="schedule-item col-black" [class.disable]="!holiday.status" (click)="editTimeSlot(idx, slot, schedule, 'holiday')">
                            {{schedule.from}} to {{schedule.to}}
                        </div>
                    </ng-container>
                </div>
                <div class="ml-auto">
                    <span *ngIf="holiday.status" class="material-icons icon-40 cursor-pointer col-blue" (click)="addTimeSlot(idx, 'holiday')"> add </span>
                    <span *ngIf="!holiday.status" (click)="deleteHoliday(idx)" class="material-icons-outlined icon-40 cursor-pointer col-black"> delete </span>
                </div>
            </div>
        </div>
        <button class="btn secondary-outline-btn px-2 mr-auto mt-3" (click)="addHoliday()">
            <mat-icon>add</mat-icon> ADD HOLIDAY
        </button>
    </div>
</div>
<div class="dialog-footer">
    <button class="btn secondary-btn w-24 ml-auto mr-4" (click)="cancel()">Cancel</button>
    <button class="btn primary-btn w-24" (click)="save()">Save</button>
</div>
