<div class="dialog-header">
    <div class="h6 col-black"> Add Zone </div>
    <mat-icon (click)="close()">close</mat-icon>
</div>
<div class="dialog-content p-10 flex flex-col">
    <div [formGroup]="zoneForm" class="px-4 mb-3">
        <p class="text-title-sm col-black mb-2">Identification</p>
        <mat-form-field appearance="outline" color="accent" class="w-full mb-1">
            <mat-label>Name</mat-label>
            <input matInput placeholder="" formControlName="name" readonly>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" class="w-full mb-1">
            <mat-label>Location</mat-label>
            <input matInput placeholder="" formControlName="location" readonly>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" class="w-full mb-1 group-wrap">
            <mat-label>Select Zone & Door</mat-label>
            <mat-select formControlName="zoneDoors" multiple class="group-select" panelClass="zone-door-group">
                <mat-select-trigger>
                    {{zoneArrayValue ? zoneArrayValue[0] : ''}}
                    <span *ngIf="zoneArrayValue?.length > 1">
                        (+{{zoneArrayValue.length - 1}}
                        {{zoneArrayValue?.length === 2 ? 'other' : 'others'}})
                    </span>
                </mat-select-trigger>

                <mat-optgroup *ngFor="let group of allZoneDoors" [label]="group.name">
                  <mat-option *ngFor="let zone of group.zoneDoor" [value]="zone.name">
                    {{zone.name}}
                  </mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>

        <mat-chip-list>
            <mat-chip *ngFor="let item of zoneArrayValue" removable selectable>
                {{item}} <mat-icon class="col-grey ml-2 mi-18" (click)="removeChip(item)">cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>

</div>
<div class="dialog-footer">
    <button class="btn secondary-btn w-24 ml-auto mr-4" (click)="close()">Cancel</button>
    <button class="btn primary-btn w-20 ml-4" [disabled]="!zoneForm.valid" (click)="updateZone()">Save</button>
</div>
