<div class="email-sent flex">
    <div class="left-section h-100 flex-center flex-col">
        <img src="/assets/images/vector/vc3.png" alt="" class="vector">
        <div class="h6 text-center mt-9">We have sent an email to</div>
        <div class="h6 col-blue text-center mb-5">{{email}}</div>
        <div class="text-caption text-center">
            if you have not received an email, please click on
            <span class="col-blue cursor-pointer hover:underline">this link</span>
        </div>
    </div>
    <div class="right-section h-100 relative flex-center">
        <div class="h4 col-white pl-8 pr-10">
            Invicto save administators an average of 100 hours per year
        </div>
        <div class="logo-title flex absolute bottom-10 left-8">
            <img src="/assets/images/Logo.svg" alt="">
            <p class="invicto ml-3"> Invicto</p>
        </div>
    </div>
</div>
