<div class="notification-wrap">
    <div class="top-section flex justify-between">
        <div class="h5">Notifications</div>
        <span class="material-icons-outlined cursor-pointer">
            more_horiz
        </span>
    </div>
    <div class="text-title-lg mt-4 col-black mb-4">New</div>
    <div class="notification-item border-b-2 py-2 flex justify-start items-center">
        <div class="pic mr-4">
            <span class="material-icons-outlined col-blue mx-2"> alarm </span>
        </div>
        <div class="content flex flex-col w-56">
            <div class="text-body-sm">
                Marcel Petersons has requested a new keycard, an action is required
            </div>
            <div class="time-ago text-body-sm col-blue">
                2 minutes ago
            </div>
        </div>
        <div class="status">

        </div>
    </div>
    <div class="notification-item border-b-2 py-2 flex justify-start items-center">
        <div class="pic mr-4">
            <img src="/assets/images/avatar.jpg" alt="" class="h-10 w-10">
        </div>
        <div class="content flex flex-col w-56">
            <div class="text-body-sm">
                There is no signal from 3456kj-2, an actoin is required
            </div>
            <div class="time-ago text-body-sm col-blue">
                1 hour ago
            </div>
        </div>
        <div class="status">
        </div>
    </div>
</div>

