.icon-40 {
    @apply w-10 leading-10 text-center;
}

.icon-wrap-40 {
    @apply flex items-center justify-center h-10 w-10;
}

.mi-18 {
    font-size: 18px;
    width: 18px !important;
    height: 18px !important;
}
.mi-20 {
    font-size: 20px;
    width: 20px !important;
    height: 20px !important;
}
