.table-paginator {
    .add-fab {
        margin-left: 16px;
        color: #FFFFFF;
        background-color: #0291FF;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    }
}

.collapsed .table-paginator {
    position: relative;

    .add-fab {
        margin-left: 0;
        position: absolute;
        top: 0;
        right: -120px;
    }
}

.table-section {
    &.users-nav {
        height: calc(100% - 84px);
    }

    td {
        height: 72px;
    }

    .mat-header-cell {
        height: 24px;
        color: rgba(0, 0, 0, 0.6);
        @include app-font(14px, 24px, 500, 0.1px);
    }

    .preview {
        visibility: hidden;
    }

    tr.active {
        cursor: pointer;
        background-color: #E2F2FF;
        .preview {
            visibility: visible;
        }
        p.name {
            color: #0291FF;
        }
    }

    .grey-col {
        height: 20px;
        opacity: 0.48;
        color: #000000;
        @include app-font(14px, 20px, 400, 0.25px);
    }

    .icon {
        .check {
            color: #10B981;
        }
        .no-signal,
        .block {
            color: #EF4444;
        }
        .pending {
            color: #FBBF24;
        }
        .inactive {
            color: #000000;
        }
    }

    .mat-column-actions {
        width: 80px !important;
    }

    .mat-column-statusL {
        width: 160px !important;
    }
    .mat-column-status {
        width: 120px !important;
    }

    .mat-column-zone,
    .mat-column-lastActivityL,
    .mat-column-activitiesAccessGroups {
        width: auto;
    }

    .mat-column-user,
    .mat-column-accessGroups,
    .mat-column-permissions {
        width: 360px;
    }

    .mat-column-role,
    .mat-column-access,
    .mat-column-activity,
    .mat-column-name {
        width: 300px;
    }

    .mat-column-nameS {
        width: 280px;
    }

    .mat-column-nameSS {
        width: 220px;
    }

    .mat-column-cardNumber,
    .mat-column-updatedAt,
    .mat-column-createdAt,
    .mat-column-lastActivity {
        width: 180px;
    }

    .mat-column-type,
    .mat-column-door,
    .mat-column-location {
        width: 180px;
    }

    @media (min-width: 1536px) {
        .mat-column-type,
        .mat-column-door,
        .mat-column-location {
            width: 320px;
        }

        .mat-column-cardNumber,
        .mat-column-createdAt,
        .mat-column-lastActivity {
            width: 300px;
        }
    }

    @media (min-width: 1280px) {
        .mat-column-name {
            width: 360px;
        }

        .mat-column-nameS {
            width: 320px;
        }

        .mat-column-cardNumber,
        .mat-column-createdAt,
        .mat-column-lastActivity {
            width: 240px;
        }

        .mat-column-type,
        .mat-column-door,
        .mat-column-location {
            width: 260px;
        }
    }
}
