<div class="door-container">
    <div class="top-section flex-center-between mb-10 mx-4">
        <div class="view h-6 col-black h6 mt-4">Edit</div>
        <mat-icon class="cursor-pointer col-black-light" mat-dialog-close>close</mat-icon>
    </div>

    <div [formGroup]="doorForm" class="px-4">
        <p class="text-title-sm col-black mb-2">Identification</p>
        <mat-form-field appearance="outline" color="accent" class="w-full mb-1">
            <mat-label>Name</mat-label>
            <input matInput placeholder="" formControlName="name" required>
            <mat-error *ngIf="doorForm.controls['name'].invalid">{{'This field is required'}}</mat-error>
        </mat-form-field>

        <button class="btn primary-outline-btn w-full mb-8">TEST DOOR</button>
    </div>

    <div class="btn-group pt-10 mx-4 flex items-center border-t border-black border-opacity-10">
        <button mat-dialog-close class="btn secondary-btn w-24 ml-auto">Cancel</button>
        <button class="btn primary-btn w-20 ml-4" [disabled]="!doorForm.valid">Save</button>
    </div>
</div>
