* {
    font-family: $primary-font;
    &:focus-visible {
        outline: none !important;
    }
}

.flex-center {
    @apply flex justify-center items-center;
}

.flex-center-between {
    @apply flex items-center justify-between;
}

.h-available {
    height: -webkit-fill-available;
}
.w-available {
    width: -webkit-fill-available;
}

.main-container {
    height: calc(100vh - 82px);
    &.collapsed {
        padding-right: 198px;
    }
}

.opacity-38 {
    opacity: 0.38;
}
.opacity-87 {
    opacity: 0.87;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
