// font
$primary-font: Roboto, sans-serif, Helvetica;
$secondary-font: Montserrat, sans-serif, Helvetica;

// color

$font-black: rgba(0,0,0,0.87);
$font-black-light: rgba(0,0,0,0.6);
$font-black-lighter: rgba(0,0,0,0.38);

$font-white: rgba(255,255,255,0.87);
$font-white-light: rgba(255,255,255,0.6);
$font-white-lighter: rgba(255,255,255,0.38);

$font-grey: #312F3C;

$primary-blue: #0291FF;             // 500
$secondary-blue: #36A1FF;           // 400

$border-grey: #E0E0E0;
$bg-grey: #EEEFF0;
