<div class="dialog-header">
    <div class="h6 col-black"> Add Access Group </div>
    <mat-icon (click)="close()">close</mat-icon>
</div>

<div class="dialog-content p-10">
    <div [formGroup]="accessGroupForm">
        <p class="text-title-sm col-black mb-2">Information</p>
        <div class="flex-center-between">
            <mat-form-field appearance="outline" color="accent" class="w-full mb-1 mr-2">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name" required>
                <mat-error *ngIf="accessGroupForm.controls['name'].invalid">{{'This field is required'}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent" class="w-full mb-1 ml-2">
                <mat-label>Location</mat-label>
                <mat-select formControlName="location" name="location" [compareWith]="objectCompareWith" required>
                    <ng-container *ngFor="let location of locations">
                        <mat-option [value]="location">{{location.name}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex-center-between border-b border-black border-opacity-10 pb-5 mb-8">
            <p class="w-full text-title-sm col-black-lighter mr-2">Zone & Door</p>
            <p class="w-full text-title-sm col-black-lighter ml-2">Schedule</p>
        </div>
        <ng-container formArrayName="zoneDoorItems" *ngFor="let item of controlsArray; index as idx">
            <div class="flex-center-between" [formGroupName]="idx">
                <mat-form-field appearance="outline" color="accent" class="w-full mr-2">
                    <mat-label>Zone & Door</mat-label>
                    <mat-select formControlName="zoneDoor" [compareWith]="objectCompareWith">
                        <ng-container *ngFor="let zone of zones">
                            <mat-option [value]="zone">{{zone.name}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" color="accent" class="w-full ml-2">
                    <mat-label>Schedule</mat-label>
                    <mat-select formControlName="schedule" [compareWith]="objectCompareWith">
                        <ng-container *ngFor="let schedule of schedules">
                            <mat-option [value]="schedule">{{schedule.name}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
            <button class="btn secondary-outline-btn px-2 w-19 ml-auto mb-2" (click)="removeLine(idx)">Remove</button>
        </ng-container>


        <button class="btn secondary-outline-btn px-2 mt-6" (click)="addLine()" [class.disable]="!addLineCheck"
                [matTooltip]="addLineTooltip" matTooltipPosition="right">
            <mat-icon>add</mat-icon> ADD LINE
        </button>
    </div>
</div>

<div class="dialog-footer">
    <button class="btn secondary-outline-btn px-2 mr-auto" (click)="gotoStep(1)" [class.disable]="!addCustomCheck">
        <mat-icon>add</mat-icon> ADD CUSTOM ACCESS
    </button>
    <button class="btn secondary-btn w-24 mr-3" (click)="close()">Cancel</button>
    <button class="btn primary-btn px-2 w-16" (click)="saveGroup()" [disabled]="!accessGroupForm.valid">Save</button>
</div>
