<div class="dialog-header">
    <div class="h6 col-black"> Add Access Group </div>
    <mat-icon (click)="close()">close</mat-icon>
</div>
<div class="dialog-content p-10 flex flex-col">
    <p class="text-title-sm col-black mb-2">Select location first and then, select access group</p>
    <form [formGroup]="accessForm" class="flex flex-col-reverse">
        <ng-container formArrayName="accessItems" *ngFor="let item of controlsArray; index as idx">
            <div [formGroupName]="idx" class="access-wrap">
                <button class="btn secondary-outline-btn px-2 my-4" (click)="removeItem(idx)" *ngIf="controlsArray && controlsArray.length > 1">
                    <mat-icon>close</mat-icon> REMOVE LOCATION
                </button>
                <mat-form-field appearance="outline" color="accent" class="w-full mb-1">
                    <mat-label>Select location</mat-label>
                    <mat-select formControlName="location">
                        <mat-option *ngFor="let loc of locations" [value]="loc" (click)="setLocation(idx)">{{loc}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" color="accent" class="w-full mb-1 group-wrap">
                    <mat-label>Add Access Group</mat-label>
                    <mat-select formControlName="group" multiple class="group-select" panelClass="panel-group">
                        <mat-select-trigger>
                            {{accessItemsArray(idx) ? accessItemsArray(idx)[0] : ''}}
                            <span *ngIf="accessItemsArray(idx)?.length > 1">
                                (+{{accessItemsArray(idx).length - 1}}
                                {{accessItemsArray(idx)?.length === 2 ? 'other' : 'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option class="flex flex-row-reverse" *ngFor="let gp of groups" [value]="gp">{{gp}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-chip-list>
                    <mat-chip *ngFor="let item of accessItemsArray(idx)" removable selectable>
                        {{item}} <mat-icon class="col-grey ml-2 mi-18" (click)="removeChip(item, idx)">cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </ng-container>
    </form>
</div>
<div class="dialog-footer">
    <button class="btn secondary-outline-btn px-2 mr-auto" (click)="addItem()">
        <mat-icon>add</mat-icon> ADD LOCATION
    </button>
    <button class="btn secondary-btn w-24 ml-auto mr-4" (click)="gotoStep(1)" *ngIf="!fromStep2">Previous</button>
    <button class="btn primary-btn w-24" (click)="gotoStep(3)" [disabled]="accessForm.invalid">Next Step</button>
</div>
