<app-signin-step>
    <p class="signin-step-title h6 col-black text-center">Lost Password Retrieval</p>
    <p class="signin-step-description text-body-sm col-black-light text-center mt-2">
        Please enter the valid email address you used for your account
    </p>
    <div class="submit-form mt-6">
        <mat-form-field appearance="outline" color="accent" class="w-full mb-1">
            <mat-label>Email</mat-label>
            <input matInput placeholder="test@invicto.ca" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{emailInValidMessage}}</mat-error>
        </mat-form-field>
        <button class="btn primary-btn w-full h-14 mt-5" [disabled]="!email.valid" (click)="send()">SEND</button>
    </div>
</app-signin-step>
