<div class="zone-container">
    <div class="top-section flex-center-between mb-10 mx-4">
        <div class="view h-6 col-black h6 mt-4">Edit</div>
        <mat-icon class="cursor-pointer col-black-light" mat-dialog-close>close</mat-icon>
    </div>

    <div [formGroup]="zoneForm" class="px-4 mb-3">
        <p class="text-title-sm col-black mb-2">Identification</p>
        <mat-form-field appearance="outline" color="accent" class="w-full mb-1">
            <mat-label>Name</mat-label>
            <input matInput placeholder="" formControlName="name" required>
            <mat-error *ngIf="zoneForm.controls['name'].invalid">{{'This field is required'}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" class="w-full mb-1">
            <mat-label>Description</mat-label>
            <input matInput placeholder="" formControlName="description" required>
            <mat-error *ngIf="zoneForm.controls['description'].invalid">{{'This field is required'}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" class="w-full mb-1">
            <mat-label>Location</mat-label>
            <input matInput placeholder="" formControlName="location" required readonly>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" class="w-full mb-1 group-wrap">
            <mat-label>Select Zone & Door</mat-label>
            <mat-select formControlName="zoneDoors" multiple class="group-select" panelClass="zone-door-group">
                <mat-select-trigger>
                    {{zoneArrayValue ? zoneArrayValue[0] : ''}}
                    <span *ngIf="zoneArrayValue?.length > 1">
                        (+{{zoneArrayValue.length - 1}}
                        {{zoneArrayValue?.length === 2 ? 'other' : 'others'}})
                    </span>
                </mat-select-trigger>

                <mat-optgroup *ngFor="let group of allZoneDoors" [label]="group.name">
                  <mat-option *ngFor="let zone of group.zoneDoor" [value]="zone.name">
                    {{zone.name}}
                  </mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>

        <mat-chip-list>
            <mat-chip *ngFor="let item of zoneArrayValue" removable selectable>
                {{item}} <mat-icon class="col-grey ml-2 mi-18" (click)="removeChip(item)">cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>

    <div class="btn-group pt-10 mx-4 flex items-center border-t border-black border-opacity-10">
        <button class="btn secondary-outline-btn pl-1 pr-2" (click)="delete()">
            <mat-icon>delete_outline</mat-icon> Delete
        </button>
        <button mat-dialog-close class="btn secondary-btn w-24 ml-auto">Cancel</button>
        <button class="btn primary-btn w-20 ml-4" [disabled]="!zoneForm.valid" (click)="updateZone()">Save</button>
    </div>
    <!-- <app-spinner size="sm" *ngIf="isLoading"></app-spinner> -->
</div>
